#glt-settings.wrap {
  max-width:1300px;
}

#glt-settings.wrap:after {
  content:'';
  display:block;
  clear:both;
}

#glt-footer,
#glt-footer #google_language_translator {
    display:none !important;
}

#glt-translate-trigger,
#glt-translate-trigger span {
  cursor:pointer;
}

#glt-settings .glt-main-settings h3:before {
  content:'\f108';
}

#glt-settings .glt-layout-settings h3:before {
  content:'\f116';
}

#glt-settings .glt-floating-widget-settings h3:before {
  content:'\f134';
}

#glt-settings .glt-behavior-settings h3:before {
  content:'\f185';
}

#glt-settings .glt-usage-settings h3:before {
  content:'\f106';
}

#glt-settings .glt-preview-settings h3:before {
  content:'\f115';
}

#glt-settings .glt-flag-settings h3:before {
  content:'\f227';
}

#glt-settings .glt-seo-settings h3:before {
  content:'\f11e';
}

#glt-settings .glt-gtranslate-ad h3:before {
  content:'\f326';
}

#glt-settings .glt-css-settings h3:before {
  content:'\f119';
}

#glt-settings .glt-seo-settings {background-color: #FFC293;}

#glt-settings .glt-main-settings h3:before,
#glt-settings .glt-layout-settings h3:before,
#glt-settings .glt-behavior-settings h3:before,
#glt-settings .glt-floating-widget-settings h3:before,
#glt-settings .glt-usage-settings h3:before,
#glt-settings .glt-preview-settings h3:before,
#glt-settings .glt-flag-settings h3:before,
#glt-settings .glt-seo-settings h3:before,
#glt-settings .glt-gtranslate-ad h3:before,
#glt-settings .glt-css-settings h3:before {
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-transition: color .1s ease-in 0;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
}

#glt-settings .button,
#glt-settings .button-primary {
  text-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  transition: .25s opacity ease-in-out;
  -webkit-transition: .25s opacity ease-in-out;
  -moz-transition: .25s opacity ease-in-out;
}

#glt-settings .button {
  background: #95a5a6;
  border:1px solid #95a5a6;
  color:#fff;
}

#glt-settings .button-primary {
  background:#ea4335;
  border:1px solid #ea4335;
}

#glt-settings .button:hover {
  opacity:0.8;
}

#glt-settings .button-primary:hover {
  opacity:0.8;
  background:#ea4335;
  border:1px solid #ea4335;
}

.tool-container {
    bottom:50px !important;
    top:auto !important;
    z-index:99999999 !important;
}

.tool-container .tool-items a {
    margin:4px;
}

.box-right {
    clear:right;
}

a.wp-studio-logo:focus,
a.wp-helpdesk-logo:focus {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
}

.goog-te-gadget-simple {
  margin:4px 0;
}

#google_language_translator select.goog-te-combo {
  width:143px;
  background:#fff;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  padding:3px !important;
  height:auto !important;
  border:1px solid lightgray !important;
  border-radius:0px !important;
  -webkit-border-radius:0px;
  -moz-border-radius:0px !important;
  -o-border-radius:0px !important;
}

#google_language_translator select.goog-te-combo:focus {
  outline:none !important;
}

#flags {
  overflow:hidden;
}

#flags ul {
  margin:0;
  padding:0;
}

#flags li {
  float:left !important;
  margin-bottom:0 !important;
  padding:0 !important;
  border:none !important;
  list-style:none !important;
  content:none !important;
}

#flags li:before {
  content:none !important;
  border:none !important;
  background:none !important;
}

#flags a,
.tool-container .tool-items a {
  display:inline-block;
  cursor:pointer;
}

a.nturl.single-language {
    border:0;
}

a.single-language span.flag {
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
}

#flags.size24 a,
.tool-container .tool-items a,
a.single-language span.size24 {
    width: 24px !important;
    height: 18px !important;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -o-box-sizing:content-box;
    -ms-box-sizing:content-box;
}

#flags.size22 a,
a.single-language span.size22 {
    width: 22px !important;
    height: 17px !important;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -o-box-sizing:content-box;
    -ms-box-sizing:content-box;
}

#flags.size20 a,
a.single-language span.size20 {
    width: 20px !important;
    height: 14px !important;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -o-box-sizing:content-box;
    -ms-box-sizing:content-box;
}

#flags.size18 a,
a.single-language span.size18 {
    width: 18px !important;
    height: 14px !important;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -o-box-sizing:content-box;
    -ms-box-sizing:content-box;
}

#flags.size16 a,
#language span.size16,
a.single-language span.size16 {
    width: 16px !important;
    height: 12px !important;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -o-box-sizing:content-box;
    -ms-box-sizing:content-box;
}

.tool-container .tool-items a {
  display:inline-block;
  margin:3px 5px 3px;
  width:24px !important;
  height:18px !important;
}

.goog-te-gadget {
  color:#444;
  font-size:11px;
  font-family:"Arial",sans,sans-serif;
}

.goog-te-gadget img {
  vertical-align:middle;
}

select.goog-te-combo:focus {
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
}

.metabox-holder {
  width:65%;
  float:left;
}

.metabox-holder h2 {
  margin-bottom:18px;
}

.submit {
  padding:0px;
}

.form-table th {
  width:50%;
}

td.advanced {
  padding-top:0px;
  padding-bottom:0px;
}

p.hello {
  font-size:12px;
  color:darkgray;
}

.flag{
    padding:1px 0;
}

a.nturl {
  cursor:pointer;
}

.flag img,
.alt_flag img{
    border:0px !important;
    margin-top:2px !important;
    padding:0px !important;
}

.attribution {
    width:152px;
    line-height:1em;
    margin-top:4px;
}

span.goog-branding {
    font-size: 11px;
    font-family: arial;
    color: rgb(102, 102, 102);
    white-space: nowrap;
    padding-top: 4px;
    text-align: left;
    width: 150px;
    margin-top: 2px;
    left:170px;
    z-index: 9999;
    float: right;
}

.goog-logo-link,
.goog-logo-link:link,
.goog-logo-link:visited,
.goog-logo-link:hover,
.goog-logo-link:active {
    font-size: 12px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    text-decoration: none;
    line-height:0.8em;
}

span.goog-branding img {
    float: left;
    margin:0px;
    width: 37px;

}

span.vertical-translator {
    position:auto;
    float:none !important;
    font-size: 11px;
    font-family: arial;
    color: rgb(102, 102, 102);
    white-space: nowrap;
    vertical-align: middle;
    padding-top: 4px;
    text-align: left;
    width: 150px;
    margin-top: 2px;
    right: -50px;
    z-index: 9999;
}

.tool-container .tool-items .flag img {
    width:24px !important;
    height:24px !important;
    margin-top:1px !important;
}

.tool-items .flag {
    padding:0px !important;
}

.tool-container {
    line-height:1;
}

#footer-instance {
    display:none !important;
}

code {
    border:1px solid lightgray;
}

.glt-controls {
    margin-bottom: 15px;
    background: #f0f0f0;
    padding: 10px;
}

/* Some Dashboard mobile styles */

@media only screen and (max-width:1023px) {
  .metabox-holder {
    float:none !important;
    width:100% !important;
  }
  .flagdisplay {
    float:none !important;
    width:100% !important;
  }
  .flagdisplay div {
    margin-bottom:10px;
  }
} /* End 1023px */